name: Runner Terminal
on: [workflow_dispatch]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 120
