name: Runner Terminal
on: [workflow_dispatch]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout files
        uses: actions/checkout@v2
      - uses: seanmiddleditch/gha-setup-ninja@master
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 30
